table 
{ 
	border: 1px solid black;
	font-family: Georgia,Arial,Tahoma,Arial,sans-serif;
	font-size: 16px;
	padding: 1px 10px;
	margin-left: auto; 
	margin-right: auto;
	table-layout: fixed;
    width: 950px;
	text-align: left;
}

th
{
	font-size: 20px;
	font-weight: bold;
	color: black;
}

th, td 
{
	padding: 10px;
}

tr:nth-child(even) 
{
	background-color: 	#e0eeee;
}